.profile__button_type_edit {
    margin: 8px 0 0 18px;
    border: 1px solid white;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .profile__button_type_edit {
        margin: 2px 0 0 10px;
        width: 18px;
        height: 18px;
    }
}
