.card__like {
    /* margin-right: 20px; */
    transition: opacity 0.3s;
    padding: 0;
    border: 0;
    background-color: white;
    background-image: url(../../../images/like.svg);
    object-fit: contain;
    width: 22px;
    height: 19px;
    align-self: center;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}
