.popup__input {
    padding: 0 0 8px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 14px;
    line-height: 1.21;
    font-weight: normal;
}

.popup__input:focus {
    outline-color: rgb(0, 132, 255);
}

.popup__input:first-of-type {
    margin: 49px auto 0;
}

.popup__input:last-of-type {
    margin: 31px auto 0;
}

@media screen and (max-width: 767px) {
    .popup__input:first-of-type {
        margin: 75px auto 0;
        padding: 0 0 9px;
    }
}
